<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="天工焊接机器人">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-13.3792879272247 0.00530799675954663 0.716495650905796"
        rpy="0 0 0" />
      <mass
        value="14468.3356938544" />
      <inertia
        ixx="2986.13781638932"
        ixy="0.00531856742285596"
        ixz="-0.0254712005669217"
        iyy="9183.67977634422"
        iyz="-2.65467753185047"
        izz="11620.8297984773" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Link1">
    <inertial>
      <origin
        xyz="-0.335055778522515 -0.00124039230005302 1.95618269187488"
        rpy="0 0 0" />
      <mass
        value="2256.89408172069" />
      <inertia
        ixx="186.200456351824"
        ixy="-0.00391931198182999"
        ixz="-1.33879941560151"
        iyy="1015.16702638642"
        iyz="0.00209732134265656"
        izz="962.796086958766" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Link1.STL" />
      </geometry>
      <material
        name="">
        <color rgba="1 1 1 1" />      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="prismatic">
    <origin
      xyz="-9.3086 0.0018683 0.02"
      rpy="0 0 1.5708" />
    <parent
      link="base_link" />
    <child
      link="Link1" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-10"
      upper="20"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link1-1">
    <inertial>
      <origin
        xyz="-4.08065048558536 1.46350434905412 -3.15226657651788"
        rpy="0 0 0" />
      <mass
        value="14468.3356929364" />
      <inertia
        ixx="34184.4679332022"
        ixy="10922.2657857706"
        ixz="4749.24364209352"
        iyy="818351.745588279"
        iyz="1162.40481394563"
        izz="818533.095437542" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Link1-1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Link1-1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1-1"
    type="revolute">
    <origin
      xyz="3.1557 -0.01 2.16"
      rpy="-1.5708 0 -1.5708" />
    <parent
      link="Link1" />
    <child
      link="Link1-1" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="100"
      velocity="1" />
  </joint>
  <link
    name="link1-2">
    <inertial>
      <origin
        xyz="-3.68541811748048 -1.42977163432909 1.9089302645352"
        rpy="0 0 0" />
      <mass
        value="14468.3356929364" />
      <inertia
        ixx="744983.371739757"
        ixy="229042.669691576"
        ixz="17258.9599252386"
        iyy="111724.140103723"
        iyz="-49832.2874031371"
        izz="814361.797115547" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/link1-2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/link1-2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1-2"
    type="revolute">
    <origin
      xyz="4.2993 3.9617 1.5934"
      rpy="-3.1416 0.2601 0.31384" />
    <parent
      link="Link1" />
    <child
      link="link1-2" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="100"
      velocity="1" />
  </joint>
  <link
    name="Link1-3">
    <inertial>
      <origin
        xyz="-4.88777163432935 1.83954815037016 0.00592335237513586"
        rpy="0 0 0" />
      <mass
        value="14468.3356929364" />
      <inertia
        ixx="111724.140103725"
        ixy="-231269.812917191"
        ixz="38184.7487947957"
        iyy="742590.16742405"
        iyz="11229.7606287132"
        izz="816755.001431251" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Link1-3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Link1-3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1-3"
    type="revolute">
    <origin
      xyz="3.2493 -0.01464 0.91851"
      rpy="-3.0238 0 -1.257" />
    <parent
      link="Link1" />
    <child
      link="Link1-3" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="100"
      velocity="1" />
  </joint>
  <link
    name="Link1-5">
    <inertial>
      <origin
        xyz="1.64626594772212 4.6571022398727 -1.59281530739462"
        rpy="0 0 0" />
      <mass
        value="14468.3356929364" />
      <inertia
        ixx="707746.396994824"
        ixy="-260805.37147652"
        ixz="-82122.5458468175"
        iyy="207576.339636467"
        iyz="-195548.077190723"
        izz="755746.572327736" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Link1-5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Link1-5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1-5"
    type="revolute">
    <origin
      xyz="2.8979 -0.22313 1.0446"
      rpy="1.031 1.1901 1.3513" />
    <parent
      link="Link1" />
    <child
      link="Link1-5" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="100"
      velocity="1" />
  </joint>
  <link
    name="link1-6">
    <inertial>
      <origin
        xyz="-1.02150097030913 -3.46362088518888 -4.2169366521359"
        rpy="0 0 0" />
      <mass
        value="14468.3356929364" />
      <inertia
        ixx="707746.348855202"
        ixy="-273296.31098615"
        ixz="-8526.88518085431"
        iyy="145438.130211297"
        iyz="-17763.5682965815"
        izz="817884.82989253" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/link1-6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/link1-6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1-6"
    type="revolute">
    <origin
      xyz="4.1216 0.34733 0.7012"
      rpy="-1.3672 -1.1901 -1.7903" />
    <parent
      link="Link1" />
    <child
      link="link1-6" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="100"
      velocity="1" />
  </joint>
  <link
    name="Link1-4">
    <inertial>
      <origin
        xyz="-2.26528275055206 4.65710214627975 -0.142061559197892"
        rpy="0 0 0" />
      <mass
        value="14468.3356929364" />
      <inertia
        ixx="742590.167424051"
        ixy="-215428.184326117"
        ixz="84867.7281920675"
        iyy="207576.339636228"
        iyz="244640.940322429"
        izz="720902.801898748" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Link1-4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Link1-4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1-4"
    type="revolute">
    <origin
      xyz="3.6709 0.57585 -0.3882"
      rpy="0.32676 -0.11777 0.31384" />
    <parent
      link="Link1" />
    <child
      link="Link1-4" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="100"
      velocity="1" />
  </joint>
  <link
    name="Link2">
    <inertial>
      <origin
        xyz="0.0429513408356441 -0.0132054290169386 2.04819891414588"
        rpy="0 0 0" />
      <mass
        value="2523.14851379735" />
      <inertia
        ixx="179.779044005253"
        ixy="-0.00509102672091485"
        ixz="-1.31610531473284"
        iyy="1867.55521796365"
        iyz="0.00198037802336909"
        izz="1817.92511951209" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Link2.STL" />
      </geometry>
      <material
        name="">
        <color rgba="1 1 1 1" />      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2"
    type="prismatic">
    <origin
      xyz="-15.745 -0.0099585 0.02"
      rpy="0 0 1.5708" />
    <parent
      link="base_link" />
    <child
      link="Link2" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-20"
      upper="20"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link2-1">
    <inertial>
      <origin
        xyz="0.910489548923241 1.26767329623318 -4.01330279215393"
        rpy="0 0 0" />
      <mass
        value="14468.3356929364" />
      <inertia
        ixx="163528.907479637"
        ixy="10473.3013030044"
        ixz="291107.720452677"
        iyy="818351.74558828"
        iyz="-3310.14118475524"
        izz="689188.655891109" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Link2-1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Link2-1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2-1"
    type="revolute">
    <origin
      xyz="3.3278 0.076034 1.9642"
      rpy="-1.5708 0 -1.1586" />
    <parent
      link="Link2" />
    <child
      link="Link2-1" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="100"
      velocity="1" />
  </joint>
  <link
    name="Link2-2">
    <inertial>
      <origin
        xyz="-5.48624560989716 4.32703893630696 2.7760696668081"
        rpy="0 0 0" />
      <mass
        value="14468.3356929364" />
      <inertia
        ixx="702650.29626823"
        ixy="276580.464315947"
        ixz="39604.1454461768"
        iyy="163528.907479643"
        iyz="-91414.6689876166"
        izz="804890.105211153" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Link2-2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Link2-2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2-2"
    type="revolute">
    <origin
      xyz="3.8796 4.0461 1.3914"
      rpy="-3.1416 0.35518 0.41215" />
    <parent
      link="Link2" />
    <child
      link="Link2-2" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="100"
      velocity="1" />
  </joint>
  <link
    name="Link2-3">
    <inertial>
      <origin
        xyz="-3.78611566188037 0.910489548923247 1.83818472476445"
        rpy="0 0 0" />
      <mass
        value="14468.3356929364" />
      <inertia
        ixx="690970.60921732"
        ixy="289533.131781932"
        ixz="15425.4424350019"
        iyy="163528.907479637"
        iyz="-31999.3835547522"
        izz="816569.792262072" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Link2-3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Link2-3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2-3"
    type="revolute">
    <origin
      xyz="3.3278 0.076034 1.9642"
      rpy="-3.1416 0.14604 0.41215" />
    <parent
      link="Link2" />
    <child
      link="Link2-3" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="100"
      velocity="1" />
  </joint>
  <link
    name="Link2-4">
    <inertial>
      <origin
        xyz="-4.17411566188018 -0.954249327881528 0.754650255342541"
        rpy="0 0 0" />
      <mass
        value="14468.3356929364" />
      <inertia
        ixx="690970.609217326"
        ixy="-289611.48795201"
        ixz="13876.7690759571"
        iyy="163755.139875667"
        iyz="34229.3495535941"
        izz="816343.559866034" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Link2-4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Link2-4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2-4"
    type="revolute">
    <origin
      xyz="3.3011 0.18992 -0.55843"
      rpy="0.10111 0.14604 0.41215" />
    <parent
      link="Link2" />
    <child
      link="Link2-4" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="100"
      velocity="1" />
  </joint>
  <link
    name="Link2-5">
    <inertial>
      <origin
        xyz="-1.95045059852003 -0.954249237893979 -2.74858054586522"
        rpy="0 0 0" />
      <mass
        value="14468.3356929364" />
      <inertia
        ixx="756890.816886947"
        ixy="-202786.15604028"
        ixz="-64122.5536275416"
        iyy="163755.139875978"
        iyz="-209581.099441743"
        izz="750423.3521961" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Link2-5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Link2-5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2-5"
    type="revolute">
    <origin
      xyz="2.7211 -0.15941 0.41481"
      rpy="0.20472 1.0573 0.5763" />
    <parent
      link="Link2" />
    <child
      link="Link2-5" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="100"
      velocity="1" />
  </joint>
  <link
    name="Link2-6">
    <inertial>
      <origin
        xyz="2.55771609997243 3.88761751032609 -1.30624661571372"
        rpy="0 0 0" />
      <mass
        value="14468.3356929364" />
      <inertia
        ixx="756890.779456526"
        ixy="-161912.558263385"
        ixz="-137906.762429512"
        iyy="396930.895030533"
        iyz="-355457.581396573"
        izz="517247.634471967" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Link2-6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Link2-6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2-6"
    type="revolute">
    <origin
      xyz="3.9953 0.36827 0.48227"
      rpy="-1.2165 -1.0573 -2.5653" />
    <parent
      link="Link2" />
    <child
      link="Link2-6" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="100"
      velocity="1" />
  </joint>
</robot>